.nav {
  align-items: center;
  margin-bottom: 40px;
  .nav-link {
    color: forestgreen;
    text-decoration: none;
  }
  .title {
    background-color: #212529;
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-right: 50px;
  }
}
